@media only screen and (min-width: 1200px) { 
    .slider-image img {
        width: 643px;
        max-width: inherit;
    }
    
    .slider-image {
        margin-left: -35px;
    }
}

@media only screen and (min-width: 991px) {
    
}

@media only screen and (max-width: 1200px) { 

}



@media only screen and (max-width: 991px) {
    .m-pb-0{
        padding-bottom: 0!important;
    }
    .m-pt-0{
        padding-top: 0!important;
    }
    .main-menu ul li.current-menu-item a{
        color: #f15a24;  
    }
    header.scrolling.transparent-header {
        background: #fff;
    }
    header{
        padding: 20px 0;
    }
    .main-menu {
        position: fixed;
        left: 0;
        top: 0;
        width: 300px;
        height: 100%;
        z-index: 99;
        background: #fff;
        padding-top: 20px;
        -webkit-box-shadow: 0 0px 5px #f5f5f5;
                box-shadow: 0 0px 5px #f5f5f5;
        left: -300px;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
    }

    .main-menu.active{
        left: 0px;
        opacity: 1;
        visibility: visible;
    }
    
    .main-menu ul li {
        display: block;
    }
    
    .main-menu ul li a {
        display: block;
        padding: 15px 15px;
        color: #242a3a;
    }

    header.scrolling .main-menu ul li a {
        padding: 15px;
    }
    
    .mobile-logo img {
        width: 90px;
    }
    
    .mobile-logo {
        padding-left: 15px;
    }
    
    ul.site-menu {
        margin-top: 20px;
    }
    
    .mobile-logo i {
        font-size: 16px;
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
        background: #403e56;
        color: #fff;
    }
    .mobile-logo{
        display: block;
    } 
    .side-nav span {
        background: #fff;
    }
    
    .scrolling .side-nav span {
        background: #242a3a;
    }
    .footer-widget {
        margin-bottom: 30px;
    }

    .side-nav.hide-desktop {
        display: block;
    }


    .order-mo-2 {
        -ms-flex-order: 2;
        -webkit-box-ordinal-group: 3;
                order: 2;
    }

    .order-mo-1 {
        -ms-flex-order: 1;
        -webkit-box-ordinal-group: 2;
                order: 1;
    }

}


@media only screen and (max-width: 767px) { 

}