/*
Theme Blue New: #00a3fe
Theme Blue Old: #29abe2
Theme Black: #222;
*/
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

.form-control:focus,
.btn:focus,
button:focus,
video:focus,
input:focus {
    outline: 0 solid;
    -webkit-box-shadow: none;
            box-shadow: none;
}
a:focus{outline: 0 solid;}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Poppins', sans-serif;
    color:#222;
    line-height: 1.71429;
    font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Barlow', sans-serif;
    margin: 0 0 15px;
    font-weight: 700;
    color:#1c1c24;
}

a:hover {
    text-decoration: none;
}

a,
.side-nav span,
.side-nav,
.trans-3 {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.trans-4 {
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.trans-4 {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.trans-5 {
    -webkit-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.trans-6 {
    -webkit-transition: all 0.6s ease-in;
    -o-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
}

strong,
b {
    font-weight: 600;
}

/* ::-webkit-input-placeholder {
    color: #383866;
}

:-ms-input-placeholder { 
    color: #383866;
}

::placeholder, textarea::placeholder {
    color: #383866;
} */
.ml-15 {
    margin-left: 15px;
}

.gray-bg {
    background-color: #f8faff;
}

.light-bg {
    background-color: #f5fcff;
}
.border-bottom-light{
    border-bottom: 1px solid #eff8ff;
}
.p-15{padding: 15px;}
.p-20{padding: 20px;}
.mtb-15 {
    margin: 15px 0;
}
.ptb-60{
    padding: 60px 0;
}
.pb-60 {
    margin-bottom: 60px;
}
.pb-40 {
    margin-bottom: 40px;
}
.pb-50 {
    margin-bottom: 50px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mt-100{
    margin-top: 100px;
}
.container{
    max-width: 1200px;
}
.section-padding {
    padding: 70px 0;
}
.color-blue {
    color: #00a3fe;
}

.section-title {
    font-size: 46px;
    font-weight: 800;
    line-height: 1em;
    margin-top: 15px;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.section-top p {
    color: #7b7b8c;
    font-size: 16px;
}
.border-top-gray {
    border-top: 1px solid #eff8ff;
}
.mb-70 {
    margin-bottom: 70px;
}
.theme-btn {
    display: inline-block;
    vertical-align: middle;
    border: none;
    outline: none;
    background-color: #fff;
    color: #1c1c24;
    font-size: 16px;
    line-height: 48px;
    padding: 0 30px;
}

.theme-btn {
    border-radius: 5px;
}
.read-more-btn .theme-btn {
    border-radius: 27px;
    line-height: 50px;
    padding: 0 35px;
}

.theme-btn:hover {
    background: #1c1c24;
    color: #fff;
}
.olive-btn{
    background-color: #8cc63f;
    color: #fff;
}
.blue-btn{
    background-color: #00a3fe;
    color: #fff;
}
.black-btn{
    background-color: #1c1d3f;
    color: #fff;
}
.blue-trans-btn {
    background: rgba(0,163,254,0.12);
    color: #00a3fe;
}

.blue-trans-btn:hover {
    color: #fff;
    background: #00a3fe;
}
blockquote {
    font-size: 16px;
    line-height: 28px;
    color: #888;
    padding: 20px 20px;
    margin: 0 0 25px;
    border-left: 5px solid #00a3fe;
    background: #f8faff;
}

/*Header Area*/
.top-bar {
    background-color: #f5f7f9;
    padding: 10px 0;
    font-size: 13.5px;
  }
  .top-bar .list-inline-item:not(:last-child) {
    margin-right: 15px;
    border-right: 1px solid #D7D7D7;
    padding-right: 15px;
  }
  
  .top-bar .top-info ul li a {
    color: #222;
  }
  
  .top-bar .top-info ul li {
    line-height: 1;
  }
  
  .top-bar .top-info ul li i {
    display: inline-block;
    color: #222;
    padding-right: 10px;
  }
  
  .top-bar .top-info ul li i.fa-phone-alt {
    font-size: 11.5px;
  }
  .top-bar .social-widget ul li a {
    width: 20px;
    height: 20px;
    background: transparent;
    line-height: 20px;
    color: #9c9999;
}

.top-bar .social-widget ul li a:hover, .top-bar .top-info ul li a:hover {
    color: #00a3fe;
    background: transparent;
}
.site-logo img {
    width: 130px;
}
.fixednav-show, header.scrolling .fixednav-hide, .hide-desktop{
    display: none;
}
header.scrolling .fixednav-show{
    display: block;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-logo {
    display: none;
}

.main-menu ul li {
    display: inline-block;
    position: relative;
}

.main-menu ul li a {
    color: #222;
    font-weight: 600;
    display: inline-block;
    padding: 25px 15px;
    text-transform: capitalize;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

header.scrolling .main-menu ul li a:hover, .main-menu ul li a.current-menu-item, .main-menu ul li a:hover {
    color: #00a3fe;
} 
.nav-search .span-search-trigger {
    display: inline-block;
    cursor: pointer;
    transition: .3s;
    text-align: center;
    width: 35px;
    height: 35px;
    line-height: 34px;
    border: 1px solid #f5f5f5;
}

.nav-search .span-search-trigger:hover {
    background: #00a3fe;
    color: #fff;
    text-align: center;
    border: 1px solid #00a3fe;
}

.side-nav {
    width: 35px;
    position: relative;
    cursor: pointer;
    padding: 10px 0;
}

.side-nav span {
    width: 100%;
    display: block;
    height: 2px;
    background: #242a3a;
    margin-bottom: 6px;
}

.side-nav .bar:nth-child(2) {
    width: 19px;
    margin-left: auto;
}

.side-nav .bar:nth-child(3) {
    width: 24px;
    margin-left: auto;
}

.side-nav:hover .bar:nth-child(2) {
    width: 80%;
}

.side-nav:hover .bar:nth-child(3) {
    width: 50%;
}

header.scrolling {
    position: fixed;
    background: #fff;
    -webkit-box-shadow: 1px 0px 4px -2px #333;
            box-shadow: 1px 0px 4px -2px #333;
    width: 100%;
    z-index: 99;
}

header.scrolling .main-menu ul li a {
    padding: 19px 15px;
    color: #242a3a;
}
.site-header {
    border-bottom: 1px solid #f5f5f5;
}

/*Slider Section*/
.video-play-button {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    display: inline-block;
    cursor: pointer;
    background: #00a3fe;
    color: #fff;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.play-button-olive {
    background: #8cc63f;
    color: #fff;
    -webkit-animation: ripple-white-anim-olive 1s linear infinite;
    animation: ripple-white-anim-olive 1s linear infinite;
}
.button-wave, .anim-icon i::before{
    -webkit-animation: ripple-white-anim 1s linear infinite;
            animation: ripple-white-anim 1s linear infinite;
}
@-webkit-keyframes ripple-white-anim {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(41, 171, 226, 0.1), 0 0 0 10px rgba(41, 171, 226, 0.1), 0 0 0 20px rgba(41, 171, 226, 0.1);
      box-shadow: 0 0 0 0 rgba(41, 171, 226, 0.1), 0 0 0 10px rgba(41, 171, 226, 0.1), 0 0 0 20px rgba(41, 171, 226, 0.1);
    }
    100% {
      -webkit-box-shadow: 0 0 0 10px rgba(41, 171, 226, 0.1), 0 0 0 20px rgba(41, 171, 226, 0.1), 0 0 0 30px rgba(41, 171, 226, 0);
      box-shadow: 0 0 0 10px rgba(41, 171, 226, 0.1), 0 0 0 20px rgba(41, 171, 226, 0.1), 0 0 0 30px rgba(41, 171, 226, 0);
    }
  }
  
  @keyframes ripple-white-anim {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(41, 171, 226, 0.1), 0 0 0 10px rgba(41, 171, 226, 0.1), 0 0 0 20px rgba(41, 171, 226, 0.1);
      box-shadow: 0 0 0 0 rgba(41, 171, 226, 0.1), 0 0 0 10px rgba(41, 171, 226, 0.1), 0 0 0 20px rgba(41, 171, 226, 0.1);
    }
    100% {
      -webkit-box-shadow: 0 0 0 10px rgba(41, 171, 226, 0.1), 0 0 0 20px rgba(41, 171, 226, 0.1), 0 0 0 30px rgba(41, 171, 226, 0);
      box-shadow: 0 0 0 10px rgba(41, 171, 226, 0.1), 0 0 0 20px rgba(41, 171, 226, 0.1), 0 0 0 30px rgba(41, 171, 226, 0);
    }
  }

  /*Olive animation*/
@-webkit-keyframes ripple-white-anim-olive {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3), 0 0 0 10px rgba(255, 255, 255, 0.3), 0 0 0 20px rgba(255, 255, 255, 0.3);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3), 0 0 0 10px rgba(255, 255, 255, 0.3), 0 0 0 20px rgba(255, 255, 255, 0.3);
    }
    100% {
      -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3), 0 0 0 20px rgba(255, 255, 255, 0.3), 0 0 0 30px rgba(140, 198, 63, 0);
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3), 0 0 0 20px rgba(255, 255, 255, 0.3), 0 0 0 30px rgba(140, 198, 63, 0);
    }
  }
  
  @keyframes ripple-white-anim-olive {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3), 0 0 0 10px rgba(255, 255, 255, 0.3), 0 0 0 20px rgba(255, 255, 255, 0.3);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3), 0 0 0 10px rgba(255, 255, 255, 0.3), 0 0 0 20px rgba(255, 255, 255, 0.3);
    }
    100% {
      -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3), 0 0 0 20px rgba(255, 255, 255, 0.3), 0 0 0 30px rgba(140, 198, 63, 0);
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3), 0 0 0 20px rgba(255, 255, 255, 0.3), 0 0 0 30px rgba(140, 198, 63, 0);
    }
  }

.video-play-button:hover {
    background: #8cc63f;
    color: #fff;
}
.slider-icon-box {
    background: #fff;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    display: block;
    position: relative;
    -webkit-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    overflow: hidden;
    z-index: 1;
}
.slider-icon-box .sd-icon {
    display: inline-block;
    color: #00a3fe;
}

.slider-icon-box .sd-icon i::before {
    margin: 0;
    font-size: 70px;
    transition: .5s;
}
.anim-icon .sd-icon {
    margin-bottom: 20px;
}
.slider-icon-box.anim-icon .sd-icon i::before{
    /* background: #00a3fe; */
    color: #00a3fe;
    padding: 10px;
    font-size: 44px;
}

.slider-icon-box h3 {
    font-size: 21px;
    text-transform: capitalize;
    transition: .5s;
}

.slider-icon-box .sl-content p{
    color: #777777;
    margin: 0;
    transition: .5s;
}
.slider-icon-box::before {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    -webkit-transform: translateY(102%);
    -ms-transform: translateY(102%);
        transform: translateY(102%);
    -webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    background: #2db9eb;
    background: -o-linear-gradient(225deg, #2db9eb 0%, #713cea 100%);
    background: linear-gradient(-135deg, #2db9eb 0%, #713cea 100%);
    z-index: -1;
}

.slider-icon-box:hover::before {
    -ms-transform: translateY(0);
        transform: translateY(0);
    -webkit-transform: translateY(0);
}

.slider-icon-box:hover h3, .slider-icon-box:hover .sd-icon i::before, .slider-icon-box:hover .sl-content p {
    color: #fff;
}
.anim-icon.slider-icon-box:hover .sd-icon i::before{
    background: none;
    animation: none;
}

.slider-heading h2 {
    text-transform: capitalize;
    font-size: 50px;
    line-height: 1;
    font-weight: 800;
}

.slider-heading h5 {
    color: #00a3fe;
    font-size: 18px;
}

.slider-area {
    padding-top: 50px;
    padding-bottom: 60px;
}

.slider-image-wrap, .image-wrap {
    display: inline-block;
    position: relative;
}

.video-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
}

/*Top Tour Packages*/
.before-title {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.pkg-thumb {
    height: 160px;
    overflow: hidden;
    position: relative;
}

.pkg-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    transition: .5s;
}

.single-tour-package-list {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    display: block;
    margin: 15px 0;
    overflow: hidden;
}
.single-tour-package-list.list-view-package h3 {
    font-size: 20px;
}

.single-tour-package-list.list-view-package h3 a {
    color: #1c1c24;
}

.single-tour-package-list.list-view-package h3 a:hover {
    color: #00a3fe;
}

.pkg-thumb .d-list-tag {
    position: absolute;
    color: #fff;
    font-size: 12px;
    padding: 4px 10px;
    background: #F3941E;
    top: 5px;
    left: 5px;
    z-index: 1;
}

.pkg-details {
    padding: 20px 15px;
}

.pkg-details .pkg-title {
    font-size: 17px;
    margin-bottom: 7px;
    text-transform: capitalize;
}

.pkg-details p {
    color: #7b7b8c;
}

.single-tour-package-list:hover .pkg-thumb img {
    transform: scale(1.1);
}
.pkg-list-meta {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #7b7b8c;
    border-bottom: 1px solid #f5f5f5;
    padding: 5px 15px;
    border-top: 1px solid #f5f5f5;
    background: rgb(239 248 255 / 0.5);
    margin-left: -15px;
    margin-right: -15px;
}

.pkg-list-meta i {
    color: #00a3fe;
    padding-right: 3px;
}

.pkg-price-meta {
    padding-top: 25px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pkg-price-meta .view-more-btn span {
    display: inline-block;
    color: #fff;
    width: 30px;
    height: 30px;
    border: 1px solid;
    text-align: center;
    line-height: 29px;
    border-radius: 50%;
    background: #00a3fe;
    font-size: 11px;
    transition: .3s;
}

.pkg-price-meta .view-more-btn span:hover {
    background: #1c1c24;
}

.pkg-price-meta span {
    color: #7b7b8c;
}

.pkg-price-meta h2 {
    color: #00a3fe;
    position: relative;
}

.pkg-price-meta h2 small {
    position: absolute;
    font-size: 16px;
}
.pkg-thumb .view-details-btn, .country-thumb-content .view-details-btn {
    position: absolute;
    z-index: 1;
    color: #fff;
    transition: .3s;
    background: rgb(41 171 226 / 0.8);
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 4px;
    text-transform: uppercase;
    border: 1px solid #00a3fe;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    opacity: 0;
    visibility: hidden;
    transition: .6s;
}
.pkg-thumb .view-details-btn:hover, .country-thumb-content .view-details-btn:hover{
   background: #00a3fe;
}
.pkg-thumb .view-details-btn i, .country-thumb-content .view-details-btn i{
    padding-left: 5px;
}
a.single-tour-package-list:hover .pkg-thumb .view-details-btn, .country-thumb:hover .country-thumb-content .view-details-btn{
    opacity: 1;
    visibility: visible;
}

/*umra servies*/
.umra-service-section {
    position: relative;
    z-index: 1;
    color: #7b7b8c;
}

.umra-service-section::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    background: #fff;
    opacity: 0.6;
}
.theme-list.two-column-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.theme-list.two-column-list li {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    max-width: 50%;
    padding-right: 15px;
}

.theme-list li, .visa-services-list ul li {
    position: relative;
    padding: 5px 0 5px 15px;
}
.theme-list li:before, .visa-services-list ul li::before {
    position: absolute;
    top: 6px;
    left: 0;
    font-family: "Font Awesome 5 Free";
    content: "\f0da";
    font-weight: 900;
    font-size: 18px;
    line-height: 1.5rem;
    color: #00a3fe;
}


/*Country THumb*/
.latest-country-section {
    background: #f8faff;
}
.country-thumb-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 1;
    width: 100%;
    margin-top: 14.5px;
    transition: .4s;
}
.country-thumb:hover .country-thumb-content{
    margin-top: 0px;
}

.country-thumb {
    display: block;
    margin: 15px 0;
}

.country-thumb img {
    object-fit: cover;
    height: 100%;
    object-position: center;
    border-radius: 4px;
    width: 100%;
}

.country-thumb {
    height: 295px;
    position: relative;
}

.country-thumb::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #071C55;
    z-index: 0;
    opacity: 0.5;
    border-radius: 4px;
}

.country-thumb-content h4 {
    color: #fff;
    margin-bottom: 5px;
    padding: 0 10px;
}
.country-thumb-content .view-details-btn {
    position: relative;
    transform: none;
    left: auto;
    top: auto;
    padding: 7px 15px;
}

/*Inner Pages Design*/

/*Breadcrumb*/
.site-breadcrumb {
	background-color: #fafafa;
	padding: 29px 0;
    min-height: 80px;
    color: #fff;
    height: 250px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  .site-breadcrumb  a{
      color: #fff;
  }
  .page-breadcrumb .section-title {
    margin-bottom: 10px;
    color: #fff;
}

.bg-style {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.site-breadcrumb::after {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    content: "";
    background: #071C55;
    z-index: -1;
    opacity: 0.4;
}

/*Sidebar Design*/
.theme-sidebar {
    margin-top: 15px;
}
.theme-sidebar h3 {
    font-size: 22px;
    text-transform: capitalize;
    padding: 12px 0;
    position: relative;
    padding-top: 0;
    padding-bottom: 10px;
    line-height: 1;
}

.theme-sidebar h3::after {
    position: absolute;
    left: 0;
    content: "";
    height: 2px;
    width: 50px;
    bottom: 0;
    background-color: #00a3fe;
}

.theme-sidebar .checkbox-widget, .theme-sidebar .search-form {
    margin-bottom: 30px;
}

.search-form input, .form-control {
    border: 1px solid #E3E3E3;
    width: 100%;
    padding: 8px 10px;
    border-radius: 0px;
}

.search-form button {
    border: 0px;
    height: 39px;
    padding: 0 15px;
    transition: .3s;
    color: #fff;
    background: #00a3fe;
}

.search-form form {
    display: flex;
}

.checkbox-widget li label {
    text-transform: capitalize;
    transition: .3s;
    cursor: pointer;
    line-height: 1;
}

.checkbox-widget li {
    font-size: 16px;
}

.checkbox-widget li:hover label {
    color: #00a3fe;
}

.checkbox-widget li input[type=checkbox] {
    display: none;
}

.checkbox-widget li label::before {
    content: "\2714";
    border: 1px solid #00a3fe;
    display: inline-block;
    width: 16px;
    height: 16px;
    padding-left: 1px;
    padding-bottom: 0.3em;
    margin-right: 8px;
    color: transparent;
    transition: .3s;
}

.checkbox-widget li input[type=checkbox]:checked + label:before {
  background-color: #8cc63f;
  border-color: #8cc63f;
  color: #fff;
}

/*List View Packages*/
.list-view-package .pkg-list-meta {
    display: block;
    margin: 0;
    padding: 0;
    background: no-repeat;
    border-top: none;
    font-size: 14px;
    padding-bottom: 10px;
}

.list-view-package .pkg-list-meta li {
    display: inline-block;
    margin: 4px 15px 4px 0;
}

.list-view-package .pkg-list-meta li i {
    padding-right: 5px;
    font-size: 17px;
}

.list-view-package .pkg-details .pkg-title {
    color: #00a3fe;
    font-weight: 400;
    font-size: 15px;
}

.list-view-package .pkg-details .pkg-title i {
    padding-right: 7px;
}

.list-view-package .pkg-price-meta {
    padding-top: 15px;
}

.list-view-package .pkg-thumb {
    height: 100%;
}

.list-view-package .pkg-details {
    padding-left: 0;
}
.list-view-package .theme-btn {
    line-height: 35px;
    padding: 0 20px;
    font-size: 14px;
}

/*Package Details*/
.details-slider .slider-item {
    position: relative;
}

.details-slider .slider-item span {
    position: absolute;
    color: #fff;
    left: 50%;
    top: 50%;
    background: rgb(243 148 30 / 0.7);
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    margin-left: -20px;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
}

.details-slider .slider-item span:hover {
    background: #F3941E;
}

.details-slider:hover .slider-item span {
    margin-top: -20px;
    opacity: 1;
    visibility: visible;
}

.details-slider .slick-arrow, .umra-slider-items .slick-arrow {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 20px;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
    z-index: 1;
}

.details-slider .slick-arrow:hover, .umra-slider-items .slick-arrow:hover {
    background: #fff;
    color: #8cc63f;
}
.details-slider .slick-left-arrow.slick-arrow, .umra-slider-items .slick-left-arrow.slick-arrow {
    top: calc(50% - 50px);
}
.details-slider .slider-item img, .video-gallery-section .image-wrap img {
    height: 385px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

/*Footer Style*/
.footer-newsletter {
    background: -webkit-gradient(linear , right bottom, left top , from(#018BFF), to(#243EC4));
    background: -o-linear-gradient(bottom right , #018BFF, #243EC4);
    background: linear-gradient(to top left , #018BFF, #243EC4);
    padding: 3rem;
    border-radius: 5px;
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    margin-bottom: 60px;
}

.footer-newsletter h5 {
    color: #fff;
}

.footer-newsletter h2 {
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1;
    margin-bottom: 8px;
}

.footer-newsletter p {
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}
.footer-newsletter-form input {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0;
    padding-left: 25px;
    border: none;
    line-height: 50px;
    border-radius: 5px;
}

.footer-newsletter-form {
    position: relative;
}

.footer-newsletter-form button {
    position: absolute;
    right: 2px;
    top: 2px;
    bottom: 2px;
    height: auto;
    border: none;
    background-color: #106be7;
    display: inline-block;
    color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.footer-newsletter-form button:hover {
    background: #2340c6;
}

.site-footer {
    background: #242a3a;
    padding: 80px 0;
    margin-top: 90px;
}

.image-widget img {
    width: 130px;
}

.image-widget p {
    margin-bottom: 0;
    margin-top: 20px;
    color: #fff;
}

.footer-widget h3,
.footer-address-widget h3 {
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #fff;
}

.footer-widget ul li a {
    color: #fff;
    display: block;
    margin-bottom: 5px;
}

.footer-address-widget ul li i {
    color: #fff;
}

.footer-address-widget a,
.footer-address-widget span {
    color: #fff;
}

.contact-address-list .footer-address-widget a,
.contact-address-list .footer-address-widget span {
    color: #383866;
}

.footer-address-widget ul li {
    position: relative;
}

.footer-address-widget ul li i {
    position: absolute;
    left: 0;
    top: 6px;
}

.footer-address-widget ul li a,
.footer-address-widget ul li span {
    padding-left: 30px;
    display: inline-block;
    margin-bottom: 5px;
}

.footer-copy-right {
    background: #1e2331;
    padding: 15px 0;
    color: #fff;
}

.footer-copy-right p {
    margin-bottom: 0;
}

.footer-copy-right a {
    color: #fff;
}

footer ul li a:hover {
    color: #00a3fe;
}

.logo-cel img {
    max-width: 140px;
    max-height: 70px;
}
.social-widget ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-widget ul li a {
    display: inline-block;
    background: #222735;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 29px;
  }
  
  .social-widget {
    margin-top: 10px;
  }
  
  .social-widget ul li a:hover {
    background: #fff;
    color: #222529;
  }
  .footer-inline-menu .list-inline-item:not(:last-child) {
    margin-right: 15px;
}

/*Footer scroll*/
.button-scroll {
    opacity: 0;
    width: 35px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #00a3fe;
    position: fixed;
    right: 10px;
    bottom: -15px;
    color: #fff;
    font-size: 12px;
    visibility: hidden;
    z-index: 9;
  }
  .button-scroll.active {
    bottom: 0px;
    opacity: 1;
    visibility: visible;
  }
  /* section {
    overflow-x: hidden;
} */



/*Pacakge Details Page*/
.package-title-info .duration i {
    color: #00a3fe;
    font-size: 18px;
    padding-right: 10px;
}
.price-icon-box {
    border: 1px solid #ddd;
    padding: 25px;
    margin-bottom: 30px;
}
.package-description p:last-child {
    margin-bottom: 0;
}
.hotel-rating .fas.fa-star {
    color: #F3941E;
}

.hotel-rating .far.fa-star {
    color: #bdb8b8;
}

.price-icon-box h6 {
    font-size: 18px;
    margin-bottom: 5px;
}

.price-icon-box .hotel-rating {
    margin-bottom: 5px;
}

.price-icon-box p {
    margin: 0;
    color: #777777;
}
.price-icon-box strong {
    font-weight: 500;
}

.history-tl-container{
  position:relative;
}
.history-tl-container ul.tl{
    display:inline-block;

}
.history-tl-container ul.tl li{
    list-style: none;
    margin: auto;
    margin-left: 99px;
    min-height: 50px;
    border-left: 1px dashed #00a3fe;
    padding: 0 0 50px 30px;
    position: relative;
}
.history-tl-container ul.tl li:last-child{padding-bottom: 0;}
li.tl-item .item-title {
    line-height: 1;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 7px;
}
.history-tl-container ul.tl li:last-child{ border-left:0;}
.history-tl-container ul.tl li::before{
    position: absolute;
    left: -12px;
    top: 0px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 0.74);
    border-radius: 500%;
    background: #00a3fe;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;

}
.history-tl-container ul.tl li:hover::before{
    border-color:  #00a3fe;
    transition: all 1000ms ease-in-out;
}

ul.tl li .item-detail{
    color:#777777;
    text-transform: capitalize;
}
ul.tl li .timestamp{
    color: #777777;
    position: absolute;
    left: -100px;
    text-align: right;
    font-size: 14px;
    top: -2px;
}
.icon-box-icon.big-icon i {
    color: #00a3fe;
    font-size: 23px;
    transition: .5s;
}

.icon-box-icon.big-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: rgba(0,163,254,0.12);
    transition: .5s;
    margin-bottom: 15px;
    transition: .4s;
}

.price-icon-box:hover .icon-box-icon.big-icon{
    background: #00a3fe;   
}

.price-icon-box:hover .icon-box-icon.big-icon i{
    color: #fff;
}

.package-exclude-section .icon-box-icon.big-icon i {
    color: #ff5f74;
}

.package-exclude-section .icon-box-icon.big-icon {
    background: rgba(255,95,116,0.15);
}

.package-exclude-section .price-icon-box:hover .icon-box-icon.big-icon{background: #ff5f74;}
.icon-box-icon.big-icon i.flaticon-passport::before {
    margin: 0;
    font-size: 27px;
}
.emi-facility-box {
    background: #fff;
    padding: 30px 20px;
    box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.05);
}

.emi-facility-box h6 {
    font-size: 18px;
}
.page-small-title, .visa-services-list h3 {
    font-size: 26px;
    /* font-weight: 500; */
    text-transform: capitalize;
    margin-bottom: 25px;
    position: relative;
    padding-bottom: 12px;
}
.page-small-title::before, .visa-services-list h3::before {
    width: 70px;
    height: 4px;
    position: absolute;
    left: 0;
    content: '';
    background: rgba(47,193,225,0.15);
    bottom: 0;
    /* opacity: 0.4; */
}

/*Pagination Style*/
.theme-pagination {
    display: inline-block;
    box-shadow: 0px 3px 9px #071C551F;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
}

.theme-pagination a.page-link {
    border: 0px;
    border-radius: 4px!important;
    color: #7b7b8c;
    padding: 8px 15px;
    transition: .4s;
}

.theme-pagination .page-item.active a.page-link, .theme-pagination a.page-link:hover {
    border: 0px;
    background: #00a3fe;
    color: #fff;
}

/*Umra Style*/
.umra-slide-single-item {
    /* height: 650px; */
    height: 508px;
    position: relative;
}

.umra-slide-single-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.umra-slider-container {
    position: relative;
}
.umra-slider-container img.umra-shape {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -8px);
    width: 650px;
}
.umra-slider-container::after {
    content: "";
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 12px;
    background: #001732;
    position: absolute;
}
.slide-bottom-fixed-text {
    position: absolute;
    font-weight: 700;
    font-size: 21px;
    color: #fff;
    left: 50%;
    transform: translate(-50%, -15px);
    bottom: 0;
}
.umra-package .pkg-thumb {
    height: 226px;
}

.umra-year {
    color: #00a3fe;
    margin-bottom: 15px;
    line-height: 1;
    font-weight: 600;
}

.umra-year i {
    padding-right: 7px;
}

.umra-package .pkg-details {
    padding: 30px;
}

.umra-package .theme-btn {
    line-height: 44px;
    padding: 0 25px;
    font-weight: 500;
}

.umra-package .pkg-details .pkg-title {
    font-size: 17px;
    margin-bottom: 10px;
}

.single-tour-package-list.umra-package {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
    border-bottom: 2px solid #00a3fe;
}
.umra-thumb-shape {
    position: absolute;
    bottom: -7px;
}

.umra-thumb-shape img {
    width: 100%;
}
/*Umra Details Page*/
.umra-slider-container.umra-details-banner {
    height: 400px;
}

.umra-slider-container.umra-details-banner h1 {
    font-size: 40px;
    margin-bottom: 5px;
}

.umra-slider-container.umra-details-banner p {
    font-size: 17px;
    margin-bottom: 8px;
}

.umra-banner-text {
    margin-top: 70px;
    font-weight: 700;
}

.umra-slider-container.umra-details-banner .banner-label {
    color: #333;
}
.umra-list li, .visa-services-list ul li {
    margin-bottom: 10px;
    padding: 10px 20px 10px 30px;
    background: #fff;
    /* font-size: 16px; */
}
.theme-list.umra-list li:before, .visa-services-list ul li::before {
    left: 10px;
    top: 10px;
}
.umra-excluded .theme-list.umra-list li:before {
    color: #ff5f74;
}

.theme-price-table {
    border-collapse: separate;
    border-spacing: 0 10px;
    font-size: 16px;
}
.theme-price-table thead {
    background: #00a3fe;
    color: #fff;
}

.theme-price-table  tbody tr {
    background: #fff;
    transition: .5s;
}
.theme-price-table tbody tr:hover {
    background: #ddd;
}

.theme-price-table tr th:nth-child(1), .theme-price-table tr td:nth-child(1) {
  border-radius: 5px 0 0 5px;
}

.theme-price-table tr th:last-child, .theme-price-table tr td:last-child{
  border-radius: 0 5px 5px 0;
}

.sidebar-contact h3 {
    font-weight: 800;
    color: #1c1c24;
    font-size: 22px;
    margin-bottom: 10px;
}

.sidebar-contact ul li a, .sidebar-contact ul li i, .sidebar-contact ul li span {
    color: #222;
}

.theme-sidebar.sidebar-v2 {
    margin-top: 69px;
}
.form-control {
    border-radius: 0px;
}
.visa-services-list h2 {
    background: #fff;
    padding: 20px 15px;
    margin-bottom: 40px;
    font-size: 28px;
    text-align: center;
    border-bottom: 2px solid #00a3fe;
}

.highlight-text {
    font-weight: 700;
    color: #00a3fe;
}
.visa-services-list ul {
    margin-bottom: 50px;
}

/*Student Visa Details*/
.visa-services-list ul li.highlight-list {
    background: rgba(0,163,254,0.4);
    font-weight: 700;
}
/*Fullwidth page*/
.site-breadcrumb.no-image-breadcrumb {
    height: auto;
    background: #f8faff;
    color: #222;
}

.site-breadcrumb.no-image-breadcrumb h1 {
    margin-bottom: 0;
    color: #1c1c24;
    font-size: 40px;
}

.site-breadcrumb.no-image-breadcrumb::after {
    display: none;
}

.site-breadcrumb.no-image-breadcrumb a {
    color: #222;
}

.full-width-page h3 {
    margin-top: 35px;
}

.full-width-page h3 {
    font-size: 25px;
    font-weight: 700;
}

.full-width-page ul {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 15px;
}
.sidebar-contact ul{list-style: none;}

/*Message Page*/
.message-person-title {
    border-left: 5px solid #00a3fe;
    background-color: #f5f5f5;
    padding: 20px 30px;
    margin-bottom: 45px;
}

.message-person-title h2 {
    margin-bottom: 0;
    font-size: 30px;
}

.message-person-title p {
    margin: 0;
    color: #7b7b8c;
}

.message-box {
    margin-bottom: 75px;
}

.message-profile img {
    width: 100%;
    border-radius: 50%;
    border: 2px solid #00a3fe;
    padding: 5px;
}

.message-box-content h3 {
    color: #00a3fe;
    margin-bottom: 0;
}

.message-box-content .designation {
    margin-bottom: 12px;
    font-weight: 700;
    color: #7b7b8c;
}